# This file contains common pin mappings for the 2019 Creality
# Ender 5. To use this config, the firmware should be compiled for the
# AVR atmega1284p.

# Note, a number of Melzi boards are shipped with a bootloader that
# requires the following command to flash the board:
#  avrdude -p atmega1284p -c arduino -b 57600 -P /dev/ttyUSB0 -U out/klipper.elf.hex
# If the above command does not work and "make flash" does not work
# then one may need to flash a bootloader to the board - see the
# Klipper docs/Bootloaders.md file for more information.

# See the example.cfg file for a description of available parameters.

[stepper_x]
step_pin: PD7 
dir_pin: !PC5
enable_pin: !PD6
step_distance: .0125
endstop_pin: ^PC2
position_endstop: 230
position_max: 230
homing_speed: 15

[stepper_y]
step_pin: PC6
dir_pin: !PC7
enable_pin: !PD6
step_distance: .0125
endstop_pin: ^PC3
position_endstop: 220
position_max: 220
homing_speed: 15

[stepper_z]
step_pin: PB3
dir_pin: !PB2
enable_pin: !PA5
step_distance: .0025
endstop_pin: probe:z_virtual_endstop
position_endstop: 0.0
position_min:  -0.25
position_max: 300

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB1
dir_pin: !PB0
enable_pin: !PD6
step_distance: 0.010526
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PD5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA7
control: pid
# tuned for stock hardware with 200 degree Celsius target
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250

[heater_bed]
heater_pin: PD4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA6
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PB4

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[display]
lcd_type: st7920
cs_pin: PA3
sclk_pin: PA1
sid_pin: PC1
encoder_pins: ^PD2, ^PD3
click_pin: ^!PC0

[bltouch]
sensor_pin: ^PC4
control_pin: PA4
x_offset: -44.0
y_offset: -6.0
z_offset: 1.45
samples: 2

[bed_mesh]
speed: 80
horizontal_move_z: 5
min_point: 50,10
max_point: 225,215
probe_count: 5,5
fade_start: 1.0
fade_end: 10.0

[homing_override]
set_position_z:0
gcode:
 G1 Z5 F600
 G28 X Y
 G1 X159 Y116 F6000
 G28 Z

[gcode_macro G29]
gcode:
 BED_MESH_CALIBRATE



#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# points =
#*# 	  -0.191250, -0.123750, -0.087500, -0.156250, -0.191250
#*# 	  -0.110000, -0.062500, -0.041250, -0.068750, -0.108750
#*# 	  -0.085000, -0.095000, -0.101250, -0.138750, -0.175000
#*# 	  -0.130000, -0.151250, -0.146250, -0.151250, -0.198750
#*# 	  -0.153750, -0.111250, -0.105000, -0.112500, -0.170000
#*# x_count = 5
#*# y_count = 5
#*# min_x = 50.0
#*# max_x = 225.0
#*# min_y = 10.0
#*# max_y = 215.0
#*# x_offset = -44.0
#*# y_offset = -6.0
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
